
body {
    background: linear-gradient(to right, #83EAF1, #63A4FF); /* This creates a gradient from pink to orange */
    color: white; /* This makes the text color white for better visibility on the dark background */
}

#mediConnectHeader {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #0d6efd;
    text-align: center;
    margin-top: 50px;
}


.anvil-role-custom-button {
    background-color: #3f3f45; /* Black color */
    border: white;
    border-radius: 55px;
    color: white;
    padding: 50px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20; /* Remove margin to make the button fill the container */
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.anvil-role-custom-button:hover {
    background-color: #29292d; /* Slightly darker color on hover */
}


