
body {
    background: linear-gradient(to right, #83EAF1, #63A4FF); /* blue gradient */
    color: white; 
}

#mediConnectHeader {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #0d6efd;
    text-align: center;
    margin-top: 50px;
}




.anvil-role-custom-button {
    width: 400px; /* Makes the button wider */
    border-radius: 15px; /* Rounded edges */
    
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Comic Sans Font */
    font-size: 16px; /* Font size */
    background-color: #f2f2f2; /* Background color */
    text-align: center; /* Center align text */
    margin: 0 auto; /* Center align button */
}

.anvil-role-custom-button:hover {
    background-color: #39339c; 
    color: white; /* White text on hover */
}



